<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <section>
                    <h2>Naudingos nuorodos</h2>
                    <div>
                        <div class="row">
                            <div class="col-4 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Svetainės medis</a></li>
                                    <li><a href="#">Pasiūlymai</a></li>
                                    <li><a href="#">Prekių grąžinimo tvarka</a></li>
                                    <li><a href="#">kvitas</a></li>
                                </ul>
                            </div>
                            <div class="col-4 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Teisinė informacija</a></li>
                                    <li><a href="#">Duomenų apsauga</a></li>
                                    <li><a href="#">Mano nuomonė</a></li>
                                    <li><a href="#">Kontaktai</a></li>
                                </ul>
                            </div>
                            <div class="col-4 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Susisiekite </a></li>
                                    <li><a href="#">Pagalba ir kontaktai</a></li>
                                    <li><a href="#">Artimiausios parduotuvės</a></li>
                                    <li><a href="#">Nustatyti mano buvimo vietą</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <section>
                    <h2>Informacija</h2>
                    <p>
                        Prisijungus per Admin area,
                        Administratorius turi galimybe redaguoti Paslaugas ir Kontaktus
                        naudojant integruotą CKEditor 4 (Smart WYSIWYG HTML editor).
                    </p>
                    <footer class="controls">
                        <a href="#" class="button">Į viršų ....</a>
                    </footer>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; @Config.CompanyName. All rights reserved. 2021. | Design: <a href="#">RK & HTML5 UP</a>
                </div>

            </div>
        </div>
    </div>
</div>